In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train_data = pd.read_csv(r"C:\Users\user\Downloads\train_LZdllcl.csv")

In [7]:
train_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [8]:
train_data.shape

(54808, 14)

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [10]:
train_data.isna().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [11]:
train_data['education'].fillna(train_data['education'].mode()[0],inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_19368\837920009.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['education'].fillna(train_data['education'].mode()[0],inplace = True)

In [12]:
train_data['previous_year_rating'].fillna(train_data['previous_year_rating'].median(),inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_19368\1158887517.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_data['previous_year_rating'].fillna(train_data['previous_year_rating'].median(),inplace = True)

In [13]:
train_data.isna().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [14]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             54808 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  54808 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [16]:
train_data['department'] = label_encoder.fit_transform(train_data['department'])

In [17]:
train_data['region'] = label_encoder.fit_transform(train_data['region'])

In [18]:
train_data['education'] = label_encoder.fit_transform(train_data['education'])

In [19]:
train_data['gender'] = label_encoder.fit_transform(train_data['gender'])

In [20]:
train_data['recruitment_channel'] = label_encoder.fit_transform(train_data['recruitment_channel'])

In [21]:
train_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,7,31,2,0,2,1,35,5.0,8,1,0,49,0
1,65141,4,14,0,1,0,1,30,5.0,4,0,0,60,0
2,7513,7,10,0,1,2,1,34,3.0,7,0,0,50,0
3,2542,7,15,0,1,0,2,39,1.0,10,0,0,50,0
4,48945,8,18,0,1,0,1,45,3.0,2,0,0,73,0

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_features = ['age','previous_year_rating','length_of_service','avg_training_score']
train_data[numerical_features] = scaler.fit_transform(train_data[numerical_features])

In [23]:
train_data

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,7,31,2,0,2,1,0.025598,1.395766,0.500460,1,0,-1.075931,0
1,65141,4,14,0,1,0,1,-0.627135,1.395766,-0.437395,0,0,-0.253282,0
2,7513,7,10,0,1,2,1,-0.104948,-0.250651,0.265996,0,0,-1.001145,0
3,2542,7,15,0,1,0,2,0.547785,-1.897069,0.969387,0,0,-1.001145,0
4,48945,8,18,0,1,0,1,1.331064,-0.250651,-0.906322,0,0,0.718939,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54803,3030,8,5,0,1,2,1,1.722704,-0.250651,2.610632,0,0,1.092871,0
54804,74592,4,19,2,0,0,1,0.286691,-1.073860,0.031532,0,0,-0.552428,0
54805,13918,0,0,0,1,0,1,-1.018775,1.395766,-0.671858,1,0,1.167657,0
54806,13614,7,33,0,1,2,1,-0.757681,-1.897069,-0.906322,0,0,-1.375077,0
54807,51526,2,14,0,1,0,1,-1.018775,-1.897069,-0.202931,0,0,-1.075931,0

In [43]:
test_data = pd.read_csv(r"C:\Users\user\Downloads\test_2umaH9m.csv")

In [45]:
test_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [47]:
test_data.shape

(23490, 13)

In [49]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           23490 non-null  int64
 1   department            23490 non-null  object
 2   region                23490 non-null  object
 3   education             22456 non-null  object
 4   gender                23490 non-null  object
 5   recruitment_channel   23490 non-null  object
 6   no_of_trainings       23490 non-null  int64
 7   age                   23490 non-null  int64
 8   previous_year_rating  21678 non-null  float64
 9   length_of_service     23490 non-null  int64
 10  KPIs_met >80%         23490 non-null  int64
 11  awards_won?           23490 non-null  int64
 12  avg_training_score    23490 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

In [51]:
test_data.isna().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [53]:
test_data['education'].fillna(test_data['education'].mode()[0],inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_19368\579119347.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['education'].fillna(test_data['education'].mode()[0],inplace = True)

In [55]:
test_data['previous_year_rating'].fillna(test_data['previous_year_rating'].median(),inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_19368\2308785727.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data['previous_year_rating'].fillna(test_data['previous_year_rating'].median(),inplace = True)

In [57]:
test_data.isna().sum()

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
dtype: int64

In [59]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [61]:
test_data['department'] = label_encoder.fit_transform(test_data['department'])

In [63]:
test_data['region'] = label_encoder.fit_transform(test_data['region'])

In [65]:
test_data['education'] = label_encoder.fit_transform(test_data['education'])

In [67]:
test_data['gender'] = label_encoder.fit_transform(test_data['gender'])

In [69]:
test_data['recruitment_channel'] = label_encoder.fit_transform(test_data['recruitment_channel'])

In [71]:
test_data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,8,18,0,1,2,1,24,3.0,1,1,0,77
1,74430,2,28,0,0,0,1,31,3.0,5,0,0,51
2,72255,7,4,0,1,0,1,31,1.0,4,0,0,47
3,38562,5,11,0,0,0,3,31,2.0,9,0,0,65
4,64486,1,21,0,1,2,1,30,4.0,7,0,0,61

In [73]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerical_features = ['age','previous_year_rating','length_of_service','avg_training_score']
test_data[numerical_features] = scaler.fit_transform(test_data[numerical_features])

In [75]:
test_data

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,8,18,0,1,2,1,-1.404150,-0.257191,-1.143200,1,0,1.024263
1,74430,2,28,0,0,0,1,-0.492612,-0.257191,-0.192590,0,0,-0.914377
2,72255,7,4,0,1,0,1,-0.492612,-1.900667,-0.430243,0,0,-1.212629
3,38562,5,11,0,0,0,3,-0.492612,-1.078929,0.758019,0,0,0.129506
4,64486,1,21,0,1,2,1,-0.622832,0.564547,0.282714,0,0,-0.168746
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23485,53478,3,11,1,1,2,1,-1.404150,-0.257191,-1.143200,0,0,-0.168746
23486,25600,8,17,0,1,2,1,-0.492612,-0.257191,0.282714,0,0,0.800574
23487,45409,2,7,0,0,2,1,-1.143711,0.564547,-0.430243,0,0,-0.988940
23488,1186,5,24,0,1,2,3,-1.013491,-0.257191,-1.143200,0,0,0.502321
23489,5973,8,8,2,1,0,3,0.679366,1.386285,-0.192590,1,0,1.919020

In [83]:
from sklearn.model_selection import train_test_split
x = train_data.drop('is_promoted',axis = 1)
y = train_data['is_promoted']
x_train,y_train,_,_= train_test_split(x,y, random_state = 42,test_size = 0.2)

In [25]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier()

In [85]:
x_test = test_data
predictions = model.predict(x_test)

In [93]:
submission = pd.DataFrame({'employee_id':test_data['employee_id'],'is_promoted':predictions})

In [95]:
submission

       employee_id  is_promoted
0             8724            0
1            74430            0
2            72255            0
3            38562            0
4            64486            0
...            ...          ...
23485        53478            0
23486        25600            0
23487        45409            0
23488         1186            0
23489         5973            1

[23490 rows x 2 columns]

In [101]:
submission.to_csv('submissions.csv',index = False)